.groupon-row {
  float: left;
  height: auto;
  width: 100%;
}
.span-img {
  float: left;
  margin: 5px 10px 10px 0;
}
.groupon-says-title {
  float: left;
  height: auto;
}
.groupon-says-desc {
  float: left;
}
.groupon-logo {
  float: right;
  margin: 15px;
}
.more-wrapper {
  height: 20px;
}
.more-link {
  float: right;
  margin-top: 5px;
}
